.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: var(--surface-color);
  color: var(--text-primary);
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  min-height: calc(100vh - 72px);
}

.notesWrapper {
  width: 100%;
}
